[submodule "irods_client_zone_management_tool"]
	path = irods_client_zone_management_tool
	url = https://github.com/irods/irods_client_zone_management_tool
[submodule "s3-bridge"]
	path = s3-bridge
	url = https://github.com/epsilon-phase/irods_client_s3_cpp
